<ul id="container" class="<%= @success ? 'opened' : 'not_opened'%>">
  <li class="slide-in">
    <div class="inner">
      <h1>You shall <%= !@success ? 'not ' : ''%>pass!</h1>
    </div>
  </li>
</ul>
